doc/date.txt
doc/gpdb.tex
doc/intro.tex
doc/mydb.tex
doc/mydbDoc.aux
doc/mydbDoc.dvi
doc/mydbDoc.log
doc/mydbDoc.pdf
doc/mydbDoc.ps
doc/mydbDoc.toc
doc/mysql.tex
doc/psql.tex
doc/version.txt
gpdb/*.txt
gpdb/gpdb
gpdb/gpdb.ps
mydb/*.go
mydb/gpdb
